In [1]:
import pandas as pd
import pandas_datareader as web

In [ ]:
comp = pd.read_csv("data/constituents.csv")
comp_lst = pd.Series(comp['Symbol']).str.replace(".", '-')
comp_lst = list(comp_lst)

In [ ]:
df = web.DataReader(comp_lst, 'yahoo', '2/9/22', '3/4/22')

In [ ]:
# format the csv file
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.rename(columns={'Symbols':'Date'}, inplace=True)
df = df.drop(index=1)

for i, row in df.iterrows():
    original_text = row["Date"].replace("-", "/")
    new_text = original_text[5:] + "/" + original_text[:4]
    row["Date"] = new_text
    
df = df.iloc[::-1]

In [ ]:
df.to_csv('data/SP500_constituents.csv')

In [33]:
df

,Date,MMM,AOS,ABT,ABBV,ABMD,ACN,ATVI,ADM,ADBE,...,WYNN,XEL,XLNX,XYL,YUM,ZBRA,ZBH,ZION,ZTS,KSU
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-09,162.07330322265625,74.6500015258789,130.49000549316406,143.1999969482422,315.9200134277344,355.5299987792969,81.5,77.27999877929688,521.75,...,3521600.0,3921800.0,6882024.0,1920400.0,3703000.0,678600.0,2209865.0,1351700.0,2026900.0,NaN
3,2022-02-10,158.21066284179688,72.2300033569336,127.76000213623047,142.7100067138672,307.1099853515625,342.3900146484375,81.44999694824219,76.44000244140625,495.0199890136719,...,3357400.0,3232500.0,9315981.0,1505500.0,2178600.0,772700.0,2519071.0,2554400.0,2809000.0,NaN
4,2022-02-11,158.01255798339844,71.30999755859375,125.48999786376953,142.00999450683594,294.82000732421875,329.17999267578125,81.5,76.47000122070312,473.9700012207031,...,4203800.0,3546800.0,25521308.0,1364400.0,2929300.0,1276000.0,1900556.0,1226200.0,3714600.0,NaN
5,2022-02-14,156.49720764160156,71.2300033569336,122.77999877929688,143.0,290.42999267578125,326.1300048828125,81.5,76.12000274658203,474.010009765625,...,2323500.0,4491300.0,0.0,1469400.0,2660300.0,659000.0,1146699.0,2020800.0,3381900.0,NaN
6,2022-02-15,155.8336181640625,72.45999908447266,123.9800033569336,144.75999450683594,304.70001220703125,329.4100036621094,81.5199966430664,76.80000305175781,479.5,...,4095700.0,10095000.0,0.0,1173600.0,4146800.0,616000.0,1553961.0,1631400.0,3618400.0,NaN
7,2022-02-16,154.13999938964844,72.31999969482422,123.68000030517578,145.8699951171875,325.4200134277344,333.7200012207031,81.45999908447266,76.9000015258789,477.70001220703125,...,4118900.0,3148800.0,0.0,778700.0,2172500.0,538900.0,1778604.0,1230700.0,2916900.0,NaN
8,2022-02-17,148.63999938964844,71.05000305175781,120.58000183105469,144.97000122070312,307.1099853515625,322.9100036621094,80.97000122070312,76.6500015258789,457.7099914550781,...,2704600.0,3545000.0,0.0,939100.0,2689500.0,609300.0,1307379.0,1110000.0,2435500.0,NaN
9,2022-02-18,147.6199951171875,71.19999694824219,116.79000091552734,144.02999877929688,298.3800048828125,321.17999267578125,81.05000305175781,76.38999938964844,442.55999755859375,...,3008900.0,3664200.0,NaN,1361500.0,2359400.0,536200.0,1234352.0,1701600.0,2558900.0,NaN
10,2022-02-22,146.75,69.52999877929688,117.51000213623047,145.55999755859375,296.6400146484375,321.1099853515625,81.2300033569336,76.70999908447266,438.3999938964844,...,4338800.0,3556500.0,NaN,1686000.0,1863800.0,549600.0,2144769.0,1223400.0,2347300.0,NaN
11,2022-02-23,144.3800048828125,67.88999938964844,117.25,146.75999450683594,290.67999267578125,313.1600036621094,80.70999908447266,75.23999786376953,429.45001220703125,...,2156100.0,3701500.0,NaN,1120800.0,2272500.0,569000.0,1475990.0,1148800.0,2070600.0,NaN
12,2022-02-24,143.6999969482422,67.7699966430664,118.72000122070312,145.27000427246094,306.9200134277344,316.1700134277344,81.01000213623047,75.8499984741211,463.82000732421875,...,4455400.0,4720400.0,NaN,3113500.0,2447600.0,508700.0,1470634.0,2880200.0,2903200.0,NaN
13,2022-02-25,150.50999450683594,69.38999938964844,122.41000366210938,149.5399932861328,312.29998779296875,322.510009765625,81.44000244140625,78.9000015258789,465.5400085449219,...,2605700.0,4985000.0,NaN,1535500.0,1498200.0,440600.0,1641614.0,1941000.0,1742600.0,NaN
14,2022-02-28,148.64999389648438,68.58000183105469,120.62000274658203,147.77000427246094,310.739990234375,316.0199890136719,81.5,78.44999694824219,467.67999267578125,...,2395300.0,4173000.0,NaN,2033200.0,2235500.0,541100.0,2497647.0,1732500.0,2220200.0,NaN
15,2022-03-01,144.75,66.62999725341797,118.16999816894531,147.69000244140625,313.489990234375,311.3500061035156,80.87999725341797,77.98999786376953,466.67999267578125,...,4410200.0,4585200.0,NaN,1197900.0,1835700.0,462100.0,7107800.0,3224100.0,1669100.0,NaN
16,2022-03-02,147.22000122070312,69.4000015258789,120.36000061035156,149.57000732421875,315.8500061035156,318.3299865722656,81.4800033569336,80.27999877929688,471.17999267578125,...,6974200.0,3256200.0,NaN,1305600.0,1269200.0,409400.0,2070900.0,1935100.0,1355300.0,NaN
17,2022-03-03,148.3000030517578,68.68000030517578,120.97000122070312,150.41000366210938,311.17999267578125,318.95001220703125,81.5,81.93000030517578,459.0799865722656,...,4450500.0,2821700.0,NaN,1313400.0,1331500.0,241700.0,1504100.0,1874000.0,1052200.0,NaN
18,2022-03-04,146.72999572753906,68.38999938964844,121.41000366210938,150.55999755859375,313.7200012207031,314.1600036621094,81.43000030517578,82.80000305175781,452.1300048828125,...,5055752.0,3515340.0,NaN,1756502.0,1666769.0,532462.0,1364727.0,1760616.0,1467803.0,NaN